$header-light-color: #f5f5f5;
$header-dark-color: #3b3b3b;

$text-light-color: #2c3e50;
$text-dark-color: #fff;

$primary-color: #ffc91e;

$background-white-color: #fff;
$background-light-color: #f5f7fa;
$background-dark-color: #363636;

$card-light-color: #fcfdff;
$card-dark-color: #2c2c34;

$input-light-color: #ffffff;
$input-dark-color: #656565;

$checkbox-default-color: #dfdfdf;

$tag-light-color: #eeeeee;
$tag-dark-color: #3a3a3a;
$tag-select-color: #ffc91e;

$border-light-color: #d6d6d6;
$border-dark-color: #656565;

$hover-light-color: rgba(0, 0, 0, 0.03);
$active-light-color: rgba(0, 0, 0, 0.1);
$hover-dark-color: rgba(255, 255, 255, 0.1);
$active-dark-color: rgba(255, 255, 255, 0.25);

$footer-light-color: #e5e6e8;
$footer-dark-color: #292929;

$disabled-color: #a8abb0;
